<ion-header>
  <ion-toolbar>
    <ion-title>Ajouter un événement</ion-title>
  </ion-toolbar>
</ion-header>

<script async
  defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2l__zm36-c9In58VuuRSPiOIJt5wzEuY&libraries=places">
</script>

<ion-content>
  <ion-item>
    <ion-label position="floating">Titre</ion-label>
    <ion-input [(ngModel)]="title"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Lieu</ion-label>
    <ion-input [(ngModel)]="location" (ionInput)="onSearchAddress()"></ion-input>
  </ion-item>

  <ion-list *ngIf="suggestions.length > 0">
    <ion-item *ngFor="let suggestion of suggestions" (click)="selectAddress(suggestion)">
      {{ suggestion.display_name }}
    </ion-item>
  </ion-list>

  <ion-item>
    <ion-label position="floating">Date</ion-label>
    <ion-datetime [(ngModel)]="date"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Description</ion-label>
    <ion-textarea [(ngModel)]="description"></ion-textarea>
  </ion-item>

  <ion-button expand="block" (click)="addEvent()">Créer l’événement</ion-button>
</ion-content>