<ion-header>
  <ion-toolbar>
    <ion-title>Événements</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="toggleFilter()">
        {{ filterNearby ? 'À proximité (cliquez ici pour changer)' : 'Tous les événements (cliquez ici pour changer)' }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar 
      [(ngModel)]="searchTerm" 
      (ionInput)="onSearchChange()" 
      debounce="500" 
      placeholder="Rechercher un événement">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-card *ngFor="let event of filteredEvents">
      <ion-card-header>
        <ion-card-title>{{ event.title }}</ion-card-title>
        <ion-card-subtitle>{{ event.location }}</ion-card-subtitle>
        <ion-card-subtitle>
          {{ event.date | date: 'medium' }}
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        {{ event.description }}
      </ion-card-content>

      <ion-button fill="outline" color="secondary" (click)="editEvent(event)">Modifier</ion-button>
      <ion-button fill="outline" color="danger" (click)="deleteEvent(event.id)">Supprimer</ion-button>
    </ion-card>
  </ion-list>
</ion-content>